<h1>Yeezy being Yeezy</h1>

<div class="container" align="center">
	<br>
	<br>
	<iframe src="https://embed.spotify.com/?uri=spotify:user:1270558680:playlist:1yayqI7Lmet99vWeJY3s9j" width="400" height="480" frameborder="0" allowtransparency="true"></iframe>

</div>
<br>

<div align="center">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Best Music of 2013 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px;"
     data-ad-client="ca-pub-4070165658259245"
     data-ad-slot="4403876812">
 </ins>
     
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

