<head>
     <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
</head>

<!-- NAVBAR
================================================== -->
<body>
 <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">BECAUSE I SAID SO</a>
            </div>
            <div class="navbar-collapse collapse">
              
            </div>
          </div>
        </div>

      </div>
    </div>

<!-- CAROUSEL
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item">
      <img src="http://static.nialler9.com/wp-content/uploads/2013/06/kanye_west_yeezus.jpg" alt="First slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>Yeezy got the last laugh</h1>
        <p>After lukewarm sales and cold reviews, <i>Yeezus</i> managed to win the hearts of music critics.</p>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
      </div>
<!-- CHANCE THE RAPPER -->
  <div class="item">
      <img src="http://www.themaskedgorilla.com/wp-content/uploads/2013/04/BJIF0MCCMAIm79h.jpg-large.jpeg" alt="second slide" height="1200" width="1200">
      <div class="container">
      <div class="carousel-caption">
        <h1>Newcome Chance The Rapper wowed critics</h1>
        <p>His 2nd mixtape was good enough to be his 1st album. <i>Acid Rap</i> was hands down one of the year's best!</p>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- Migos YRN -->
<div class="item active">
      <img src="http://www.monstermixtapes.net/img/temp/Migos_-_Young_Rich_Niggas.jpg" alt="third slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>VERSACE VERSACE VERSACE</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- RANDOM ACCESS MEMORIES -->
<div class="item">
      <img src="http://www.sundtrak.com/wp-content/uploads/2013/06/daft-punk-random-access-memories.png" alt="fourth slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>We all got lucky!</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- EARL SWEATSHIRT -->
<div class="item">
      <img src="http://pop-break.com/wp-content/uploads/2013/09/doris_cover.jpg" alt="fifth slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>Yeezy got the last laugh</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- HAIM -->
<div class="item">
      <img src="http://www.wepluggoodmusic.com/wp-content/uploads/2013/10/haim-days-are-gone.png" alt="sixth slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>Yeezy got the last laugh</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- JAMES BLAKE -->
<div class="item">
      <img src="http://www.residentadvisor.net/images/reviews/2013/atlas-10-cd.jpg" alt="seventh slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>Yeezy got the last laugh</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- DISCLOSURE --> 
<div class="item">
      <img src="http://p.playserver1.com/ProductImages/0/8/6/3/7/8/5/4/45873680_700x700min_1.jpg" alt="eigth slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>Yeezy got the last laugh</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- DRAKE -->
<div class="item">
      <img src="http://24.media.tumblr.com/9ec580f32021749aa61e1d03d92fc7a0/tumblr_mtdu6ejwmP1qbu7a8o1_1280.jpg" alt="ninth slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>Yeezy got the last laugh</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- RUN THE JEWELS -->
<div class="item">
      <img src="http://assets-s3.rollingstone.com/assets/images/album_review/run-the-jewels-cover-1373904337.jpg" alt="tenth slide">
      <div class="container">
      <div class="carousel-caption">
        <h1>Yeezy got the last laugh</h1>
        #INSERT BUTTON TO LAUNCH SPOTIFY MODAL
      </div>
      </div>
    </div>
<!-- BEYONCE, ACTION BRONSON, ASAP FERG, AUTRE VE NEUT -->
</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

 <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>
</body>